---
import BaseLayout from '@layouts/BaseLayout.astro';
import DocsList from '@components/DocsList.astro';

const layoutProps = {
  metaTitle: "Documents & Resources | Epsilon Zeta Alumni Association",
  pageTitle: "Documents & Resources",
};
---

<BaseLayout {...layoutProps}>
  <p>We're in the process of auditing and migrating the documents archive and photo galleries. Please stay tuned for updates.</p>
  <DocsList />
</BaseLayout>
