---
import BaseLayout from "@/layouts/BaseLayout.astro"

const layoutProps = {
  metaTitle: "Documents & Resources | Epsilon Zeta Alumni Association",
  pageTitle: "Documents & Resources",
};
---

<BaseLayout {...layoutProps}>
  <p>We're in the process of auditing and migrating the documents archive and photo galleries. Please stay tuned for updates.</p>
  <h2>General Resources</h2>
  <ul>
    <li>EZAA Bylaws (Last Amended October 9, 2022)</li>
  </ul>
  <h2>
    Meeting Minutes
  </h2>
  <ul>
    <li>Coming Soon</li>
  </ul>
</BaseLayout>
