---
import BaseLayout from "@/layouts/BaseLayout.astro"

const layoutProps = {
  metaTitle: "Find Us | Epsilon Zeta Alumni Association",
  pageTitle: "Find EZAA Online",
};
---

<BaseLayout {...layoutProps}>
  <h2>Join us on Facebook</h2>
  <p>Join the discussion and receive updates on our Facebook group.</p>
  <h2>Sign up for email updates</h2>
  <p>Please sign up for email updates from EZAA! You can also view an archive of previously-sent messages.</p>
</BaseLayout>
