---
import BaseLayout from '@layouts/BaseLayout.astro';
import ExternalLink from '@components/ExternalLink.astro';
import Calendar from '@components/Calendar.astro';

const layoutProps = {
  metaTitle: "Find Us | Epsilon Zeta Alumni Association",
  pageTitle: "Find EZAA Online",
};
---

<BaseLayout {...layoutProps}>
  <h2>Join us on Facebook</h2>
  <p>
    Join the discussion and receive updates on our
    <ExternalLink href="https://www.facebook.com/apoezaa/">
      Facebook group
    </ExternalLink>
    .
  </p>

  <h2>Sign up for email updates</h2>
  <p>
    Please
    <ExternalLink href="https://mailchi.mp/8337b0c98e87/ezaa-subscribe">
      sign up
    </ExternalLink>
    for email updates from EZAA! You can also view an
    <ExternalLink href="https://us19.campaign-archive.com/home/?u=606e3e9daf28f1aeb6403ed47&id=2714ecf937">
      archive
    </ExternalLink>
    of previously-sent messages.
  </p>
  <Calendar />
</BaseLayout>
