---
---
<style>
  .calendar-embed {
    width: 100%;
    margin-bottom: 2rem;
    border: 1px solid #777;
    overflow: hidden; /* ensure border isn't visually clipped */
  }

  .calendar-embed iframe {
    display: block;
    border: 0;
    /* Ensure reasonable height on very small screens */
    min-height: 460px;
  }
</style>


<div class="calendar-embed">
  <iframe
    src="https://calendar.google.com/calendar/embed?src=c_784eb92f70bfddd3753e9b68c5ef8324bbe96b53b668625aa12e032b304ff283%40group.calendar.google.com"
    style={{ width: '100%', height: 'min(75vh, 720px)' }}
  />
</div>

