---
import { getCollection } from 'astro:content';

const minutes = (
  await getCollection("minutes")
).filter((i) => (
  i.data.tags?.includes("business meeting")
)).sort((a, b) => {
  let da = new Date(a.data.date);
  let db = new Date(b.data.date);
  return (db.valueOf() - da.valueOf());
});

---

<div id="docs-list">
  <h2>General Resources</h2>
    <ul>
      <li>
        <a href="/docs/bylaws/ezaa-bylaws-2022.pdf" target="_blank">
          EZAA Bylaws (Last Amended October 9, 2022)
        </a>
      </li>
    </ul>
  <h2>Meeting Minutes</h2>
  <ul>
    {
      minutes.map((item: any) => (
        <li>
          <a href={`/minutes/${item.id}`}>
            {item.data.title}
          </a>
        </li>
      ))
    }
  </ul>
</div>
