<footer>
  <div>
    <p>The Epsilon Zeta Alumni Association is affiliated with the Epsilon Zeta Chapter of Alpha Phi Omega, National Service Fraternity</p>
    <p>Rensselaer Polytechnic Institute, Troy, NY</p>
  </div>
</footer>
