---
import { Image } from 'astro:assets';
import Navigation from './Navigation.astro'; 

import logoImage from '@assets/images/theme/apo_torchlogo.png'; 
---

<header>
  <div class="site-logo">
    <a href="/">
      <Image
        src={logoImage}
        width={250}
        height={179}
        alt="Logo for Alpha Phi Omega"
        fetchpriority="high"
      />
      <p class="site-subhead">Epsilon Zeta<br />Alumni Association</p>
    </a>
  </div>
  <Navigation />
</header>
