.news-feed-wrapper {
  margin-bottom: 2rem;
  overflow: visible;
}

#news-feed {
  overflow: visible;
  max-height: none;

  ul, li {
    list-style: none outside none;
  }

  ul {
    padding: 0;
  }

  li {
    border-bottom: solid 1px var(--med-gray);
  }
}
