---
import NewsItem from './NewsItem.astro';
import './news-feed.css';

const feedItems = Object.values(
  import.meta.glob(
    '@pages/news/*.md',
    { eager: true }
  )
).sort((a, b) => {
  let da = new Date(a.frontmatter.date);
  let db = new Date(b.frontmatter.date);
  return (db.valueOf() - da.valueOf());
});

---

<div id="news-feed">
  <h2>Recent News</h2>
  <ul>
    {
      feedItems.map((item: any) => (
        <NewsItem item={item} />
      ))
    }
  </ul>
</div>
