---
import { getCollection } from 'astro:content';
import NewsItem from './NewsItem.astro';
import './news-feed.css';

const newsItems = (
  await getCollection("news")
).sort((a, b) => {
  let da = new Date(a.data.date);
  let db = new Date(b.data.date);
  return (db.valueOf() - da.valueOf());
});

---

<div id="news-feed">
  <h2>Recent News</h2>
  <ul>
    {
      newsItems.map((item: any) => (
        <NewsItem item={item} />
      ))
    }
  </ul>
</div>
