:root {
  --apo-blue: #0033ab;
  --apo-gold: #fcb426;
  --off-white: #efefef;
  --med-gray: #cecece;
  --font-base: #323232;

  font-size: 16px;
  font-family: 'Futura', Helvetica, sans-serif;
}

@media (max-width: 480px) {
  :root {
    font-size: 14px;
  }
}

html,
body {
  margin: 0;
  padding: 0;
}
