---
import { formatDate } from '@scripts/date';
import SidebarRight from './SidebarRight.astro';

const {
  frontmatter: {
    date: rawDate,
    title,
    participants,
  }
} = Astro.props;

const date = formatDate(rawDate);
---

<SidebarRight metaTitle={title} pageTitle={title} contentLayout="sidebar-right">
  <slot />
  <Fragment slot="sidebar">
    <h2>Attendees:</h2>
    <ul>
      {
        participants.map((a) => (
          <li>
            {a}
          </li>
        ))
      }
    </ul>
  </Fragment>
</SidebarRight>
